$transparent: transparent;
$white: #FFFFFF;
$black: #000000;
$blue: #0000FF;
$green: #00FF00;
$yellow: #FFFF00;
$red: #FF0000;
$main-green: #008080;
$main-black: #222222;
$main-white:  #FAF8F8;
$error: #B9000B;