.terms-container {
  height: 100vh;
  .terms-wrapper {
    width: 100%;
    height: calc(100vh - 8rem);
    overflow: auto;
    .terms-content {
      margin: 0 33rem;
      @media screen and (max-width: 768px) {
        margin: 0 1rem;
      }
      .description {
        max-width: 57rem;
        font-family: $font-inter;
        color: #535353;
        font-size: 1.5rem;
        line-height: 2.4rem;
        margin-top: 3rem;
        &.bold {
          font-weight: 600;
        }
        &.sub {
          margin-top: 0;
        }
      }
      .sub-title {
        margin-top: 3.5rem;
        font-family: $font-inter;
        color: #535353;
        font-size: 1.5rem;
        line-height: 2.4rem;
        margin-top: 3rem;
        font-weight: bold;
      }
    }
  }
}