.contact-us-container {
  height: 100vh;
  .contact-us-wrapper {
    height: calc(100vh - 8rem);
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      font-family: $font-poppins;
      color: #222222;
      font-size: 3.6rem;
      line-height: 5.4rem;
      font-weight: bold;
    }
    .description {
      margin-top: 3rem;
      margin-bottom: 5rem;
      font-family: $font-inter;
      font-size: 1.8rem;
      line-height: 2.3rem;
      color: #535353;
    }
    .input-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .normal-input {
        width: 100%;
        &:nth-child(2) {
          margin-left: 1rem;
        }
        input {
          width: 100%;
        }
        textarea {
          width: 100%;
          min-height: 15rem;
        }
      }
    }
    .btn-group {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}